body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: black;

}

.jumbotron {
    height: 75vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.card {
    font-size: 20px;
}

.card-title {
    font-weight: bold;
    font-size: 30px;
}

.card-text {
    font-size: 1.25vw;
}



.swiper {
    width: 100%;
    padding-bottom: 25px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 10vw;
    height: 32.5vh;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.actor-name {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-bottom: -2px;
}

.character-name {
    font-size: 12px;
    text-align: center;
    color: black;
    margin-top: 2px;
}

.character-special {
    font-size: 10px;
    text-align: center;
    color: black;
}

.arrows{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    background-color: white;
    font-size: 50px;
    border-radius: 50%;
    transition: all 0.5s;
    /* border: 3px solid black; */
    text-decoration: none;
    color: black;
    padding: 10px;
    backdrop-filter: blur(5px);
}

@media (max-width: 992px) {
    .jumbotron {
        height: 40vh;
    }

    .movie-info {
        display: flex;
    }

    .movie-poster {
        padding: 0 25%;
    }

    .card-text {
        font-size: 24px;
    }

    .swiper-slide {
        width: 30vw;
    }

    .actor-name {
        font-size: 20px;
    }
    .character-name {
        font-size: 18px;
    }
    .character-special {
        font-size: 16px;
    }

    .arrow {
        display: none;
    }
}

@media (max-width: 576px) {
    .jumbotron {
        height: 30vh;
    }

    .movie-poster {
        padding: 0 15%;
    }

    .card-text {
        font-size: 16px;
    }

    .swiper-slide {
        width: 40vw;
    }

    .character-name {
        font-size: 14px;
    }
    .character-special {
        font-size: 12px;
    }
}

